html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.contactDiv {
    align-content: center;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

.loginDiv {
    align-content: center;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.forumDiv {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.postDiv {
    margin-top: 5px;
    margin-bottom: 5px;
}

.formInDiv {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}